<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lsquare.civicreporter"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainNavDrawerActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewComplaint"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <intent-filter>
                <action android:name="com.lsquare.civicreporter.CamActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MapActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.lsquare.civicreporter.MapActivity" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBqEuSqLIXdqLnp6G38mmwnHhvxpEf5g5M" />

        <activity
            android:name=".MainActivity2Activity"
            android:label="@string/title_activity_main_activity2">

        </activity>
        <activity
            android:name=".MainActivity22Activity"
            android:label="@string/title_activity_main_activity22"></activity>
        <activity
            android:name=".Submit"
            android:label="View Complaints"></activity>
        <activity
            android:name=".Share_Feedback"
            android:label="@string/title_activity_share__feedback"></activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name=".Email"
            android:label="@string/title_activity_email"></activity>
        <activity
            android:name=".AboutUs"
            android:label="@string/title_section7"></activity>
        <activity
            android:name=".Register"
            android:label="@string/title_activity_register"></activity>
    </application>

</manifest>
